<div class="row">
  from:<span class="content"><%= message.sender.nick %></span>
  to:<span class="content"><%= message.receiver.nick %></span>
  Content:
	<span class="content"><%= message.content %></span>
	<span class="timestamp">
	 message sent <%= time_ago_in_words(message.created_at) %> ago
	</span>
</div>