<li>
	<div class="row">
		<div class="span11">
  		<span class="content"><%= message.content %></span>
  		<span class="timestamp">
    		Posted <%= time_ago_in_words(message.created_at) %> ago
  		</span>
  	</div>
  </div>
</li>