<div>
	You are logged in as:
	<h3><%= current_user.nick %></h3>
	<%= image_tag current_user.profile_photo.url(:avatar) %>
	<p>
		<%= link_to "view my profile", current_user %>
		<%= pluralize(current_user.posts.count, "post") %>
	</p>
</div>