<h1>About</h1>
	<h5>Collect is a service for record collectors and music-heads. It is directed to people who has a collections of music albums, and want to show it. Idea is to create huge albums database. You dont have to own a 1000+ collection, if you want to share just few albums it is fine. Sign up button is on main page, join us!</h5>
	<h5>Portal developed by Tomasz Bernaciak</h5>
<div class="row">
	<%= image_tag '2.png', :alt => 'collection', :class => "img-rounded", :style => "width: 100%;"%>
</div>