<h1>Have a question?</h1>
<h1>How can I help?</h1>
<h5>How to be in touch with my friends?</h5>
<p>You can find your friends in the users page. Use a search engine to find you friend and go to his profile.  If you want to be in touch, and see everything he posted, click follow button. Now you will see everything he left on main page.</p>
<h5>How to add album to my profile?</h5>
<p>You can simply find one in the albums page. Use search engine to get one you want, and click it. In the description will be button 'Add to my profile'. </p>
<h5>I can't find album in the database.</h5>
<p>Database is build by users. If you can't find an album, don't worry. Click 'Add album' button and you will have a chance to add new album to database.</p>
<h5>Album info is not completed</h5>
<p>So add something more! You can do it, click on 'Edit' and add new information. You can put album additional info about particular release in the 'Details' section. It can be for example a tracklist. </p>
<h5>I want to put album to my wishlist.</h5>
<p>If you have album in your profile you can click button with label 'change'. You will go to your album page, and you can set 'add to wishlist' or 'for sale'</p>
<h5>My friend have album that I want, and it is for sale. How to get it?</h5>
<p>This page is not a record store, but you can contact your friend. Go to his profile, and click 'Message'. Now it is between you and him, negotiate with him!</p>
<h5> Something more? You have a problem? You see error or a bug?</h5>
<span class="btn btn-info"><%= link_to "Contact", contact_path %></span>
