<% provide(:title, 'Home') %>

<h1> RECOLLECT </h1>

<% if signed_in? %>

  <div class="row">
    <div class="span4">  
      <%= render 'shared/user_info' %>
      <%= render 'shared/stats' %>
      <%= render 'posts/form' %>
    </div>
    <div class="span8">
      <%= render 'shared/feed' %>
    </div>
  </div>

<%else %>
  
  <span>ReCollect is an application for music-heads and people who are collecting records, if you have a big albums library, join us!</span>

<% end %>