<% unless current_user?(@user) %>
  <div id="collection_form">
  <% if current_user.collected?(@album) %>
    <%= render 'delete_album' %>
    <%= render 'buy_album' %>
  <% else %>
    <%= render 'add_album' %>
  <% end %>
  </div>
<% end %>