body {
  background:  -webkit-linear-gradient(bottom, #fff 0%, #ccc 100%);
  background: -o-linear-gradient(bottom, #fff 0%, #ccc 100%);
  background: -moz-linear-gradient(bottom, #fff 0%, #ccc 100%);
  background: linear-gradient(bottom, #fff 0%, #ccc 100%);
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #000;
  }
  &:hover {
    color: #000;
    text-decoration: none;
    background-color: transparent;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

table{
  background-color: #fff;
}

#notice {
  color: green;
}
