// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body {
	margin: 0;
	padding:0;
	height: 100%;
	background: #e3e3e3;
}